* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: green;
    font-size: large;
    background-color: rgb(255, 253, 251);
}

body {
    /* background-color: bisque; */
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a {
    position: absolute;
    bottom: 30vh;
    display: flexbox;
    align-items: center;
}

.header {
    position: absolute;
    top: 10vh;
    font-size: 400px;
}

/* #display-savings {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
} */

/* #header {
    font-size: 200px;
} */